<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>台灣高鐵班次維護</title>
	<style>
.drag-file {
	background-color: #FFF5EE;
	border: 1px dashed;
	height: 300px;
	width: 350px;
	border-radius: 15px; 
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.drag-file.active {
	border: 2px solid #708090;
}

.drag-file .icon {
	font-size: 30px;
	color: #708090;
}

.drag-file h6 {
	font-size: 20px;
	font-weight: 300;
	color: #708090;
}

.drag-file span {
	font-size: 14px;
	font-weight: 300;
	color: #708090;
	margin: 10px 0 15px 0;
}

.drag-file button {
	padding: 10px 25px;
	font-size: 14px;
	font-weight: 300;
	border: none;
	outline: none;
	background: transparent;
	color: #708090;
	border: 1px solid #708090;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.drag-file button:hover {
	background-color: #708090;
	color: #FFFAFA;
}
</style>
</head>

<body>
	<div th:replace="~{layout/dashboardHeader}"></div>
	<main>
		<div class="container-fluid px-4">
			<div class="d-flex justify-content-between align-items-center">
				<h1 class="mt-4">高鐵班次維護</h1>
				<div class="d-flex">
					<button type="button" title="新增單筆資料"
						class="btn btn-outline-dark mt-3" style="margin: 5px" id="insert"
						th:onclick="insertRecord()">
						<i class="fa-solid fa-plus"></i> 新增
					</button>
					<button type="button" title="批次新增資料"
						class="btn btn-outline-dark mt-3" style="margin: 5px" id="batch"
						th:onclick="openBatchModal()">
						<i class="fa-solid fa-plus"></i> 批次
					</button>
				</div>
			</div>
			<hr>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
				</div>
				<div class="card-body">
					<article class="text-center container">
						<section class="timetable-search-frame bg-grey">
							<div class="container">
								<div class="download-ttable"></div>
								<div class="ha-nav-content"></div>

								<div class="modal fade" aria-hidden="true" id="EditField"
									aria-labelledby="EditFieldTitle">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header" style="justify-content: center;">
												<h5 class="modal-title" id="EditFieldTitle">
													<i class="fa-solid fa-pen-to-square"></i>&nbsp;增修
												</h5>
											</div>
											<div class="modal-body">
												<div class="input-group">
													<div class="input-group mb-3 p-2">
														<span class="input-group-text" id="tranNo">班次</span> <input
															type="text" class="form-control" id="EditField_tranNo"
															name="EditField_tranNo" aria-describedby="basic-addon3">
													</div>
													<div class="input-group mb-3 w-50 p-2"
														th:each="station:${stationList}">
														<span class="input-group-text"
															th:text="${station.stationName}"></span> <input
															class="form-control" type="time"
															th:id="'EditField_ST_' + ${station.stationID}"
															th:name="'EditField_ST_' + ${station.stationID}"
															aria-describedby="basic-addon3">
													</div>

													<div class="w-100 p-2">
														<button id="EditFieldSubmit" th:onclick="formSubmit()"
															style="margin: 0px 30px 0px 0px;"
															class="btn btn-secondary">送出</button>
														<button style="margin: 0px 0px 0px 30px;"
															data-bs-dismiss="modal" th:onclick="cancel()"
															class="btn btn-secondary">取消</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div>
								<table id="queryResult" class="table table-bordered table-striped table-sm display"
									style="width: 100%;">
									<thead class="table-light">
										<tr>
											<th scope="col" class="align-middle">班次</th>
											<th scope="col" class="align-middle" th:each="station:${stationList}"
												th:value="${station.stationID}" th:text="${station.stationName}"></th>
											<th scope="col" class="align-middle">編輯</th>
											<th scope="col" class="align-middle">刪除</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</section>
					</article>
				</div>
			</div>
		</div>
		<div class="modal fade" aria-hidden="true" id="BatchUploadModal"
			aria-labelledby="BatchUploadModalTitle">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" style="justify-content: center;">
						<h5 class="modal-title" id="BatchUploadModalTitle">
							<i class="fa-solid fa-cloud-arrow-up"></i>&nbsp;批次新增資料
						</h5>
					</div>
					<div class="modal-body">
						<div class="input-group container">
							<div class="input-group mb-3 p-2">
								<input type="file" class="form-control" id="batchFileInput"
									accept=".csv">
							</div>
							<div class="drag-file w-100 mb-3 p-2 d-flex justify-content-center" style="border-radius: 15px">
								<div class="icon">
									<i class="fas fa-cloud-upload-alt"></i>
								</div>
								<h6>Drag & Drop File Here</h6>
								<span>OR</span>
								<button>Browse File</button>
								<input type="file" hidden  accept=".csv">
							</div>
							<div class="w-100 p-2 d-flex justify-content-center">
								<button id="BatchUploadSubmit" onclick="uploadBatchData()"
									class="btn btn-secondary">上傳</button>
								<button style="margin: 0px 0px 0px 30px;"
									data-bs-dismiss="modal" onclick="cancelBatchUpload()"
									class="btn btn-secondary">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<input type="hidden" id="dataTableContent" th:value="${dataTableContent}">
	</main>
	<div th:replace="~{layout/dashboardFooter}"></div>
	<!-- <script th:src="@{/js/ming/TrainMaintainJS.js}"></script> -->
	<script th:inline="javascript">
		var EditField;
		var dtDataList;
		var ACTION_STATE = 0;
		$(document).ready(function () {
			dtDataList = JSON.parse(document.querySelector("#dataTableContent").value);
			$('#queryResult').DataTable({ data: dtDataList });
			EditField = new bootstrap.Modal(document.getElementById('EditField'));
		});

		function insertRecord() {
			ACTION_STATE = 1;
			document.querySelector("#EditFieldSubmit").innerHTML = "新增";
			document.querySelector("#EditFieldTitle").innerHTML = `<i class="fa-solid fa-pen-to-square"></i>&nbsp;新增`;

			document.querySelector("#EditField_tranNo").value = "";
			let StLst = [[${ stationList }]];
			let current_st = 1;
			StLst.forEach((st) => {
				document.querySelector("#EditField_ST_" + st.stationID).value = "";
				current_st++;
			});
			EditField.show();
		}
		function updateTarget(tranNo) {
			ACTION_STATE = 2;
			document.querySelector("#EditFieldSubmit").innerHTML = "修改";
			document.querySelector("#EditFieldTitle").innerHTML = `<i class="fa-solid fa-pen-to-square"></i>&nbsp;修改`;
			document.querySelector("#EditField_tranNo").readOnly = true;
			document.querySelector("#EditField_tranNo").value = tranNo;
			let timeLst;
			dtDataList.forEach((dl) => {
				if (dl[0] == tranNo) {
					timeLst = dl;
				}
			});
			let StLst = [[${ stationList }]];
			let current_st = 1;
			StLst.forEach((st) => {
				document.querySelector("#EditField_ST_" + st.stationID).value = timeLst[current_st];
				current_st++;
			});
			EditField.show();
		}

		function cancel() {
			EditField.hide();
			document.querySelector("#EditField_tranNo").readOnly = false;
			ACTION_STATE = 0;
		}

		function formSubmit() {
			let parmObj = {};
			parmObj["action"] = ACTION_STATE;
			let tranNo = document.querySelector("#EditField_tranNo").value;
			let TranInfoList = [];
			let StLst = [[${ stationList }]];
			StLst.forEach((st) => {
				let TranInfo = {};
				TranInfo["tranNo"] = tranNo;
				TranInfo["stationID"] = st.stationID;
				TranInfo["trainArrvialTime"] = document.querySelector("#EditField_ST_" + st.stationID).value;
				TranInfoList.push(TranInfo);
			});
			parmObj["TranInfoList"] = TranInfoList;


			let submitForm = document.createElement("form");
			submitForm.method = "POST";
			submitForm.action = `trainMaintain-onSubmit`;
			var tmpInput = document.createElement("input");
			tmpInput.setAttribute("name", "reqBody");
			tmpInput.setAttribute("value", JSON.stringify(parmObj));
			submitForm.appendChild(tmpInput);
			document.body.appendChild(submitForm);
			submitForm.submit();
		}


		function deleteTarget(tranNo) {
			Swal.fire({
				title: '是否刪除?',
				icon: 'warning',
				showCancelButton: true,
				cancelButtonText: '取消',
				confirmButtonText: '確定',
				preConfirm: async () => {
					console.log("tranNo=" + deleteTarget);
					try {
						const response = await fetch(`DeleteTranInfo?tranNo=${tranNo}`);
						if (!response.ok) {
							throw new Error(response.statusText);
						}
						return await response.json();
					} catch (error) {
						Swal.showValidationMessage(
							`Request failed: ${error}`
						);
					}
				},
				allowOutsideClick: () => !Swal.isLoading()
			}).then((result) => {
				if (result.isConfirmed) {
					let resultObj = result.value;
					console.log(resultObj);
					if (resultObj.result) {
						Swal.fire(
							'刪除成功',
							`紀錄刪除成功(班次="${resultObj.id}")`,
							'success'
						).then(() => {
							// 成功刪除後重新導向
							location.href = 'trainMaintain';
						});
					} else {
						Swal.fire(
							'刪除失敗',
							`紀錄刪除失敗(班次="${resultObj.id}")`,
							'error'
						);
					}
				}
			});
		}
		function openBatchModal() {
			$("#BatchUploadModal").modal("show");
			$("#BatchUploadModal").css("z-index", "1500");
		}

		function cancelBatchUpload() {
			$("#BatchUploadModal").modal("hide");
		}

		// Handle batch file upload
		function uploadBatchData() {
			let fileInput = document.getElementById("batchFileInput");
			let file = fileInput.files[0];
			

			if (file) {
				let formData = new FormData();
				formData.append("file", file);

				fetch("batchUploadEndpoint", {
					method: "POST",
					body: formData
				})
					.then(response => response.json())
					.then(data => {
						if (data.success) {
							Swal.fire(
								"上傳成功",
								"批次資料上傳成功",
								"success"
							).then(() => {
								location.reload(); // Refresh the page after successful upload
							});
						} else {
							Swal.fire(
								"上傳失敗",
								"批次資料上傳失敗",
								"error"
							);
						}
					})
					.catch(error => {
						console.error("Error:", error);
						Swal.fire(
							"上傳失敗",
							"批次資料上傳失敗",
							"error"
						);
					});

				cancelBatchUpload();
			} else {
				Swal.fire(
					"錯誤",
					"請選擇要上傳的檔案",
					"error"
				);
			}
		}
	</script>
	<script th:src="@{/js/ming/sweetalert2.js}"></script>
</body>

</html>