/**/
.article {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aside {
	width: 600px;
	border: 2px solid rgb(203,203,203);
	border-radius: 15px;
	background-color: rgb(247,247,247);
	
}

.section {
	padding: 50px 50px 5px 50px;
	line-height: 2em;
}

label{
	display: inline-block; 
	width: 80px; 
	text-align: left;
}